ol li{
  background-color: yellow;
}
ol li:nth-child(even){
  color: green;
}
ol li:nth-child(odd){
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
  color: red;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em{
  font-size: 40px;
  border: 1px solid black;
}
li{
  font-size: 20px;
}
li.em{
  font-weight: bold;
}
.leng li:nth-child(-n+3){
  color: blue;
}
.leng li:nth-child(-n+3).java{
  background-color: pink;
}
.devfriends li a:hover{
  font-weight: bold;
}
.devfriends li:nth-child(1) a:hover{
  color: orange;
}
.devfriends li:nth-child(3n-1) a:hover{
  color: green;
}
.devfriends li:nth-child(3) a:hover{
  color: black;
}
.devfriends li:nth-child(4) a:hover{
  color: yellow;
}
