div:hover{
  border: 2px solid black;
}

div:nth-of-type(1){
  background-color: blue;
}
div:nth-of-type(2){
  background-color: green;
  height: 50px;
}
div:nth-of-type(3){
  background-color: yellow;

}
div:nth-of-type(4){
  background-color: purple;
}
div:nth-of-type(5){
  background-color: orange;
}

div:nth-of-type(1) > h3 {
  color: white;
}
div:nth-of-type(2) > h3 {
  font-family: Monospace;
}
div:nth-of-type(3) > h3 {
  font-weight: bold;
}
div:nth-of-type(4) > h3 {
  color: yellow;
}
div:nth-of-type(5) > h3 {
  font-size: 20px;
}

div:nth-child(odd) h3 {
  font-style: italic;
}
